[[extend 'layout.html']]

[[block header]]
[[icon='fa fa-chart-line']]
[[breadcamp = 'Classified']]
[[end]]


[[block content]]
<style>
    .input-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 2px;
        
    }

    .fill-box {
        height: 390px;
        width: 100%;
        border-radius: 2%;
        background-color: white;
        position: relative;
        border: 5px solid rgba(204, 201, 250);
    }

    .fill {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgb(181, 176, 248);
        height: 0%;
    }

    .category-label {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        color: black;
        z-index: 1;
        visibility: hidden;
    }
</style>
<div class="container-section">
    <div class="d-flex justify-content-between align-items-center border-bottom">
        <span class="icon-text icon-text-bold">
            <i class="fa-solid fa-plus"></i>
            <span>Edit</span>
        </span>

        <div class="d-flex justify-content-end">
            <div class="p-1">
            [[ if head_record['booking_cancel_status'] != 1: ]]
                [[ if head_record['confirm'] == 1: ]]
                <button type="button" class="btn btn-sm btn-success disabled">
                    <span class="ms-2">Confirmed</span>
                </button>

                [[ elif head_record['hold'] == 1: ]]
                <button type="button" class="btn btn-sm btn-warning hold-button disabled"> 
                    <span class="ms-2">Hold</span>
                </button>

                [[ else: ]]
                <button type="button" class="btn btn-sm btn-primary disabled">
                    <span class="ms-2">Entered</span>
                </button>

                [[ pass ]]
                
            [[ pass ]]
            [[ if head_record['booking_cancel_status'] == 1: ]]
                <button type="button" class="btn btn-sm btn-danger disabled">
                    <span class="ms-2">Canceled</span>
                </button>
                [[ pass ]]
            </div>
            <div class="p-1">
                <button type="button" class="btn btn-sm btn-light d-none" id="btn_view">
                    <i class="fa-regular fa-eye"></i> <span class="ms-2">View</span>
                </button>
                <button type="button" class="btn btn-sm btn-light" id="btn_edit">
                    <i class="fa-regular fa-pen-to-square"></i> <span class="ms-2">Edit</span>
                </button>
            </div>
            <div class="p-1">
                <!--<button type="button" onclick="window.history.back()" class="btn btn-sm btn-light">
                    <i class="fa-solid fa-arrow-left"></i> <span class="ms-2">Back</span>
                </button>-->
                <a href="[[=URL('classified/index')]]" class="btn btn-sm btn-light">
                    <i class="fa-solid fa-arrow-left"></i> <span class="ms-2">Back</span>
                </a>
            </div>
            <div class="p-1">
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Action
                    </button>
                    <!-- <ul class="dropdown-menu"> -->
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!--<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-add me-1"></i> Add</a>-->
                        <a class="dropdown-item" href="delete?id=[[#=request.query.get('id')]]" id="delete_btn">
                            <i class="fa-solid fa-trash-can"></i><span class="ms-2">Delete</span></a>
                    </div>
                    <!-- </ul> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container py-2">
        <form action="[[=URL('classified','classified_update')]]?id=[[=head_record['id']]]" method="POST">
            <div id="custom_form">
                <div class="row">
                    <div class="col-md-8">
                        <!-- start scrollable -->
                        <div class="" style="height: 480px; overflow-y: scroll; overflow-x: hidden;">
                            <!-- Start Classified Information -->
                            <span class="text-center fw-bold p-1 my-2 d-block rounded-1"
                                style="color: #4f5762; background-color: var(--master-primary-light) !important;">Classified
                                Information</span>
                                <input hidden type="text" id="booking_id" name="booking_id"
                                            value="[[=head_record['booking_id']]]" class="form-control">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3 custom_input">
                                        <label for="booking_date" class="form-label">Booking Date</label>
                                        <input type="date" id="booking_date" name="booking_date"
                                            value="[[=head_record['booking_date']]]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 custom_input">
                                        <label for="publish_date" class="form-label">Publish Date</label>
                                        <input type="date" id="publish_date" value="[[=head_record['publish_date']]]"
                                            name="publish_date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 custom_input">
                                        <label for="news_supplement" class="form-label">News/ Supplement</label>
                                        <select class="select_custom form-control form-select-sm selectChange" id="news_supplement"
                                            name="news_supplement">
                                            <option value="">Select</option>
                                            [[ for row in alldays_items:]]
                                            <option value="[[=row.news_supplement]]" [[if str(head_record['news_supplement'])==str(row.news_supplement):]] selected [[pass]]>
                                                [[=row.news_supplement]]</option>
                                            [[pass]]
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 custom_input">
                                        <label for="page_type" class="form-label">Page Type</label>
                                        <select class="select_custom form-control" id="page_type" name="page_type">
                                         
                                        </select>
                                        <input type="hidden" id="page_type_hidden" value="[[=head_record['page_type']]]">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 custom_input">
                                        <label for="page_name" class="form-label">Page Name</label>
                                        <select class="select_custom form-control" id="page_name" name="page_name">
                                            <option value="">Select</option>
                                        </select>
                                        <input type="hidden" id="page_name_hidden" value="[[=head_record['page_name']]]">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 custom_input">
                                        <label for="region" class="form-label">Region</label>
                                        <select class="select_custom form-control form-select-sm selectChange"
                                            name="region">
                                            <option value="">Select Region</option>
                                            [[ for row in utils_region:]]
                                            <option value="[[=row.name]]" [[if str(head_record['region'])==str(row.name):]] selected
                                                [[pass]]>[[=row.name]]</option>
                                            [[pass]]
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 custom_input">
                                        <label for="customer_id" class="form-label">Customer ID</label>
                                        <select class="select_custom form-control form-select-sm selectChange"
                                            name="customer_id">
                                            <option value="">Select Customer Id</option>
                                            [[ for row in customer_ids:]]
                                            <option value="[[=row.accpac_id]]" [[if str(head_record['customer_id'])==str(row.accpac_id):]] selected
                                                [[pass]]>[[=row.accpac_id]]</option>
                                            [[pass]]
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 custom_input">
                                        <label for="customer_name" class="form-label">Customer Name</label>
                                        <select class="select_custom form-control form-select-sm selectChange"
                                            name="customer_name">
                                            <option value="">Select Customer Name</option>
                                            [[ for row in customer_names:]]
                                            <option value="[[=row.name]]" [[if str(head_record['customer_name'])==str(row.name):]] selected [[pass]]>
                                                [[=row.name]]</option>
                                            [[pass]]
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 custom_input">
                                        <label for="customer_type" class="form-label">Customer Type</label>
                                        <select class="select_custom form-control form-select-sm selectChange"
                                            name="customer_type">
                                            <option value="">Select Customer Type</option>
                                            [[ for row in customer_types:]]
                                            <option value="[[=row.name]]" [[if str(head_record['customer_type']).strip()==str(row.name).strip():]]
                                                selected [[pass]]>[[=row.name]]</option>
                                            [[pass]]
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 custom_input">
                                        <label for="advertiser" class="form-label">Advertiser</label>
                                        <select class="select_custom form-control form-select-sm selectChange"
                                            name="advertiser">
                                            <option value="">Select Advertiser</option>
                                            [[ for row in advertiser:]]
                                            <option value="[[=row.advertiser]]" [[if str(head_record['advertiser'])==str(row.advertiser):]] selected
                                                [[pass]]>[[=row.advertiser]]</option>
                                            [[pass]]
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 custom_input">
                                        <label for="reference" class="form-label">Reference</label>
                                        <input type="text" id="reference" name="reference"
                                            value="[[=head_record['reference']]]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3 custom_input">
                                        <label for="classified_category" class="form-label">Classified Category</label>
                                        <select class="select_custom form-control form-select-sm selectChange"
                                        id="classified_category" name="classified_category">
                                            <option value="">Select Classified Category</option>
                                            [[ for row in classified_category:]]
                                            <option value="[[=row.category]]" [[if str(head_record['classified_category'])==str(row.category):]] selected
                                                [[pass]]>[[=row.category]]</option>
                                            [[pass]]
                                        </select>

                                    </div>
                                </div>
                            </div>
                            
                            <!-- End Booking Information -->

                            <!-- Start Pricing Information -->
                            <span class="text-center fw-bold p-1 my-2 d-block rounded-1"
                                style="color: #4f5762; background-color: var(--master-primary-light) !important;">Pricing
                                Information
                            </span>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="mb-3 custom_input">
                                        <label for="word" class="form-label">Word</label>
                                        <input  type="number" id="word" name="word"
                                            value="[[=head_record['word']]]" class="form-control"  min="0"
                                            max="100">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3 custom_input">
                                        <label for="rate" class="form-label">Rate</label>
                                        <input type="text" id="rate" name="rate"
                                            value="[[=head_record['rate']]]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3 custom_input">
                                        <label for="subtotal" class="form-label">Subtotal</label>
                                        <input type="text" id="subtotal" name="subtotal"
                                            value="[[=head_record['subtotal']]]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3 custom_input">
                                        <label for="discount_percentage" class="form-label">Discount(%)</label>
                                        <input type="text" id="discount_percentage" name="discount_percentage"
                                            value="[[=head_record['discount_percentage']]]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3 custom_input">
                                        <label for="discount_amount" class="form-label">Discount</label>
                                        <input type="text" id="discount_amount" name="discount_amount"
                                            value="[[=head_record['discount_amount']]]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3 custom_input">
                                        <label for="gross_total" class="form-label">Gross Total</label>
                                        <input type="text" id="gross_total" name="gross_total"
                                            value="[[=head_record['gross_total']]]" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <div class="mb-3 custom_input">
                                        <label for="options" class="form-label">Options</label>
                                        <select class="select_custom form-control form-select-sm selectChange"
                                            name="options" multiple>
                                            <option value="">Select Options Field</option>
                                            <option value="bold" [[if 'bold' in  head_record['options']:]] selected [[pass]]>Bold</option>
                                            <option value="bold" [[if 'palo_box' in  head_record['options']:]] selected [[pass]]>Palo Box</option>
                                            <option value="bold" [[if 'box' in  head_record['options']:]] selected [[pass]]>Box</option>
                                            <option value="bold" [[if 'reverse' in  head_record['options']:]] selected [[pass]]>Reverse</option>
                                            <option value="bold" [[if 'top' in  head_record['options']:]] selected [[pass]]>Top</option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="col-md-3">
                                    <div class="mb-3 custom_input">
                                        <label for="additional_charge" class="form-label">Additonal Charge</label>
                                        <input type="text" id="additional_charge" name="additional_charge"
                                            value="[[=head_record['additional_charge']]]" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3 custom_input">
                                        <label for="net_total" class="form-label">Net Total</label>
                                        <input type="text" id="net_total" name="net_total"
                                            value="[[=head_record['net_total']]]" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">                             
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label for="status" class="form-label">Status</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="1" id="status" name="status" disabled
                                            [[if head_record.get('status', 0) == 1:]] checked [[pass]]>
                                            <label class="form-check-label" for="status">
                                                Active
                                            </label>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                            <!-- End Pricing Information -->
                            <br>
                            <div class="row">
                                <div class="col-12 mb-4" style="margin-left: 10px;">
                                    <div class="d-flex justify-content-start"> 

                                        [[ if head_record['booking_cancel_status'] != 1: ]]
                                            
                                            [[ if head_record['confirm'] == 1: ]]
                                                <!-- Confirmed: No need for confirm button -->
                                            [[ else: ]]
                                                <div class="me-2">
                                                    <button type="submit" class="btn btn-sm btn-primary">
                                                        <i class="fa-regular fa-floppy-disk"></i> <span class="ms-2">Update</span>
                                                    </button>
                                                </div>
                                    
                                                <div class="me-2"> 
                                                    <button type="button" class="btn btn-sm btn-success" 
                                                            id="confirmButton" 
                                                            data-booking-id="[[=head_record['booking_id']]]"
                                                            data-value="[[=head_record['confirm']]]">
                                                        <i class="fa-regular fa-check-circle"></i> 
                                                        <span class="ms-2">Confirm</span>
                                                    </button>
                                                </div> 
                                            [[ pass ]]
                                            
                                            [[ if head_record['confirm'] != 1: ]]
                                                <div class="me-2"> 
                                                    <button type="button" class="btn btn-sm btn-warning hold-button" 
                                                            id="holdButton" 
                                                            data-booking-id="[[=head_record['booking_id']]]"
                                                            data-value="[[=head_record['hold']]]">
                                                        <i class="fa-regular fa-pause-circle"></i> 
                                                        <span class="ms-2">Hold</span>
                                                    </button>
                                                </div> 
                                            [[ else: ]]
                                            [[ pass ]]
                                            <div class="">
                                                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                    <i class="fa-regular fa-trash-can"></i> <span class="ms-2">Cancel</span>
                                                </button>
                                            </div> 
                                        [[ pass ]]
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end scrollable -->
                    </div>

                    <!-- Start News Grid Layout -->
                    <div class="col-md-4">
                        <span class="text-center fw-bold p-1 my-2 d-block rounded-1"
                            style="color: #4f5762; background-color: var(--master-primary-light) !important;">
                            Layout
                        </span>
                        <div id="grid-container">
                            <div class="input-container">
                                <div class="fill-box" id="fill-box">
                                    <div class="fill" id="fill"></div>
                                    <span class="category-label" id="category-label"></span>
                                </div>
                            </div>
                            <!-- Insert your interactive grid layout here -->
                        </div>
                    </div>
                    <!-- End News Grid Layout -->
                </div>
            </div>


    </div>
    <!--  -->

</div>
</form>
</div>
</div>
[[end]]




[[block modal]]
<!-- Modal -->
<div class="modal fade" id="staticBackdrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Cancel this booking?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="[[=URL('classified','book_cancel')]]" method="POST" id="classified_form">
            <div id="custom_form">
                <div class="modal-body">
                    <div class="col-md-4">
                        <div class="mb-4">
                            <label for="region" class="form-label">Causes</label>
                            <select class="select_custom_modal form-control" style="cursor: pointer; "
                                    name="cause"> <option value="">Select Cause</option>
                                [[ for row in cause_cancels:]]
                                <option value="[[=row.cause]]">[[=row.cause]]</option>
                                [[pass]]
                            </select>
                        </div>
                        <input type="hidden" id="booking_id" name="booking_id"  value="[[=head_record['booking_id']]]">
                        <input type="hidden" id="booking_cancel_status" name="booking_cancel_status"  value="[[=head_record['booking_cancel_status']]]">
                        <input type="hidden" id="booking_date" name="booking_date" value="[[=head_record['booking_date']]]">
                        <input type="hidden" id="cancel_time" name="cancel_time" value="[[=head_record.get('cancel_time')]]">                        
                        <input type="hidden" id="cancel_date" name="cancel_date" value="[[=head_record.get('cancel_date')]]">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa-regular fa-floppy-disk"></i> <span class="ms-2">Confirm</span>
                    </button>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
    [[end]]
[[block scripts]]
<!-- individual pages can add scripts here -->
<script>

    // Grid Layout

    $(document).ready(function () {
      

        $('#confirmButton').click(function () {
    var bookingId = $(this).data('booking-id');
    var button = $(this);
    button.prop('disabled', true);
    $.ajax({
        url: '[[=URL("default", "confirm_booking")]]',
        type: 'POST',
        data: {
            booking_id: bookingId
        },
        success: function (response) {
            if (response.status === 'success') {
                button.html('<i class="fa-regular fa-check-circle"></i> <span class="ms-2">Confirmed</span>');
                button.removeClass('btn-primary').addClass('btn-success');
                button.prop('disabled', true); 
                location.reload();
            } else {
                alert('Confirmation failed. Please try again.');
                button.prop('disabled', false);
            }
        },
        error: function () {
            alert('Error in confirming booking.');
            button.prop('disabled', false);
        }
    });
    });
    
    if ($('#confirmButton').data('value') == 1) {
    $('#confirmButton').hide();  
    }





        $('#holdButton').click(function () {
    var bookingId = $(this).data('booking-id');
    var button = $(this);
    button.prop('disabled', true);
    $.ajax({
        url: '[[=URL("default", "hold_booking")]]',
        type: 'POST',
        data: {
            booking_id: bookingId
        },
        success: function (response) {
            if (response.status === 'success') {
                button.html('<i class="fa-regular fa-pause-circle"></i> <span class="ms-2">Holded</span>');
                button.removeClass('btn-primary').addClass('btn-success');
                button.prop('disabled', true); 
                location.reload();
            } else {
                alert('Hold failed. Please try again.');
                button.prop('disabled', false);
            }
        },
        error: function () {
            alert('Error in Hold booking.');
            button.prop('disabled', false);
        }
    });
    });
    
    if ($('#holdButton').data('value') == 1) {
    $('#holdButton').hide();  
    }
    




     // Box Layout
            $('#classified_category, #word').on('input change', function () {
                const category = $('#classified_category option:selected').val();
                const word = $('#word').val().trim();

                if (category !== '' && word !== '') {
                    const fillPercentage = Math.min(word, 100);
                    $('#fill').css('height', fillPercentage + '%'); 
                    $('#category-label').text(category).css('visibility', 'visible'); 
                } else {
                    $('#fill').css('height', '0%');
                    $('#category-label').text('').css('visibility', 'hidden');
                }
            });
            // End Box Layout



        // multiselect dropdown
        $('#mySelect').select2({
            placeholder: "Select an option"
        });

        $('#mySelect').on('change', function () {
            if ($(this).find('option:selected').length > 0) {
                $(this).attr('placeholder', '');
            } else {
                $(this).attr('placeholder', 'Select option');
            }
        });




        const vatValue = parseFloat($('#vat').val());

        if (vatValue === 15) {
            $('#vat_input').prop('checked', true);
        } else {
            $('#vat_input').prop('checked', false);
            $('#vat').val(0);
        }

        // Ensure VAT input is always readonly instead of disabled
        $('#vat').prop('readonly', true);

        // Event listener for checkbox change
        $('#vat_input').change(function() {
            if (!this.checked) {
                $('#vat').val(0);
            } else {
                $('#vat').val(15); // Set VAT value to 15 when checkbox is checked
            }
        });


        const fixedRateValue = parseFloat($('#fixed_rate').val());
        if (fixedRateValue > 0) {
            $('#fixed_rate_input').prop('checked', true);
            $('#fixed_rate').prop('disabled', false);
        } else {
            $('#fixed_rate_input').prop('checked', false);
            $('#fixed_rate').val(0);
            $('#fixed_rate').prop('disabled', true);
        }
            $('#fixed_rate_input').change(function() {
            if (!this.checked) {
                $('#fixed_rate').val(0);
            }
                $('#fixed_rate').prop('disabled', !this.checked);
            });

        const specificValue = parseFloat($('#specific').val());
    if (specificValue > 0) {
        $('#specific_input').prop('checked', true);
        $('#specific').prop('disabled', false);
    } else {
        $('#specific_input').prop('checked', false);
        $('#specific').val(0);
        $('#specific').prop('disabled', true);
    }
        $('#specific_input').change(function() {
        if (!this.checked) {
            $('#specific').val(0);
        }
             $('#specific').prop('disabled', !this.checked);
        });

        const boxValue = parseFloat($('#box').val());
    if (boxValue > 0) {
        $('#box_input').prop('checked', true);
        $('#box').prop('disabled', false);
    } else {
        $('#box_input').prop('checked', false);
        $('#box').val(0);
        $('#box').prop('disabled', true);
    }
        $('#box_input').change(function() {
        if (!this.checked) {
            $('#box').val(0);
        }
             $('#box').prop('disabled', !this.checked);
        });



         // get news supplement
         var selectedValue = $('#news_supplement').val();
        $.ajax({
            url: '[[=URL("default", "get_page_type")]]',
            method: 'GET',
            data: { news_supplement: selectedValue },
            dataType: 'json',
            success: function (data) {
                var pageTypeDropdown = $('#page_type'); 
                pageTypeDropdown.empty();
                data.results.forEach(function (item) {
                    pageTypeDropdown.append($('<option>', {
                        value: item.name,
                        text: item.name,
                        selected: item.name === "[[=head_record['page_type']]]"
                    }));
                });
            },
        });


          
        var selectedValue = $("#page_type_hidden").val();
        console.log(selectedValue)
        $.ajax({
            url: '[[=URL("default", "get_page_name")]]',
            method: 'GET',
            data: { page_type: selectedValue },
            dataType: 'json',
            success: function (data) {
                var pageTypeDropdown = $('#page_name'); 
                pageTypeDropdown.empty();
                data.results.forEach(function (item) {
                    pageTypeDropdown.append($('<option>', {
                        value: item.assign_page,
                        text: item.assign_page,
                        selected: item.assign_page === "[[=head_record['page_name']]]"
                    }));
                });
            },
        });

});
$('#news_supplement').on('change', function (e) {
        var selectedValue = $(this).val();
        $.ajax({
            url: '[[=URL("default", "get_page_type")]]',
            method: 'GET',
            data: { news_supplement: selectedValue },
            dataType: 'json',
            success: function (data) {
                console.log(data.results)
                var pageTypeDropdown = $('#page_type'); 
                pageTypeDropdown.empty();
                pageTypeDropdown.append('<option value="">Select</option>')
                data.results.forEach(function (item) {
                    pageTypeDropdown.append($('<option>', {
                        value: item.name,
                        text: item.name,
                        
                    }));
                });
            },
        });
    });

   
    $('#page_type').on('change', function (e) {
        var selectedValue = $(this).val();

        $.ajax({
            url: '[[=URL("default", "get_page_name")]]',
            method: 'GET',
            data: { page_type: selectedValue },
            dataType: 'json',
            success: function (data) {
                var pageTypeDropdown = $('#page_name'); 
                pageTypeDropdown.empty();
                data.results.forEach(function (item) {
                    pageTypeDropdown.append($('<option>', {
                        value: item.assign_page,
                        text: item.assign_page,
                        selected: item.assign_page === "[[=head_record['page_name']]]"
                    }));
                });
            },
        });
    });

    const category = $('#classified_category option:selected').val();
                const word = $('#word').val().trim();

                if (category !== '' && word !== '') {
                    const fillPercentage = Math.min(word, 100);
                    $('#fill').css('height', fillPercentage + '%'); 
                    $('#category-label').text(category).css('visibility', 'visible'); 
                } else {
                    $('#fill').css('height', '0%');
                    $('#category-label').text('').css('visibility', 'hidden');
                }
</script>

[[end]]